GoogleApiResponse/Connected Services/RouteDetailsService/RouteDetailsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RouteDetails" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RouteDetails" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfStreetDetails">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StreetDetails" nillable="true" type="tns:StreetDetails" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStreetDetails" nillable="true" type="tns:ArrayOfStreetDetails" />
  <xs:complexType name="StreetDetails">
    <xs:sequence>
      <xs:element minOccurs="0" name="stName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="step" nillable="true" type="tns:Step" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StreetDetails" nillable="true" type="tns:StreetDetails" />
  <xs:complexType name="Step">
    <xs:sequence>
      <xs:element minOccurs="0" name="distance" nillable="true" type="tns:Distance2" />
      <xs:element minOccurs="0" name="duration" nillable="true" type="tns:Duration2" />
      <xs:element minOccurs="0" name="end_location" nillable="true" type="tns:EndLocation2" />
      <xs:element minOccurs="0" name="html_instructions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maneuver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="polyline" nillable="true" type="tns:Polyline" />
      <xs:element minOccurs="0" name="start_location" nillable="true" type="tns:StartLocation2" />
      <xs:element minOccurs="0" name="travel_mode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Step" nillable="true" type="tns:Step" />
  <xs:complexType name="Distance2">
    <xs:sequence>
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Distance2" nillable="true" type="tns:Distance2" />
  <xs:complexType name="Duration2">
    <xs:sequence>
      <xs:element minOccurs="0" name="text" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="value" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Duration2" nillable="true" type="tns:Duration2" />
  <xs:complexType name="EndLocation2">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lng" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EndLocation2" nillable="true" type="tns:EndLocation2" />
  <xs:complexType name="Polyline">
    <xs:sequence>
      <xs:element minOccurs="0" name="points" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Polyline" nillable="true" type="tns:Polyline" />
  <xs:complexType name="StartLocation2">
    <xs:sequence>
      <xs:element minOccurs="0" name="lat" type="xs:double" />
      <xs:element minOccurs="0" name="lng" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StartLocation2" nillable="true" type="tns:StartLocation2" />
</xs:schema>