GoogleApiResponse/Connected Services/RouteDetailsService/RouteDetailsService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61341/RouteDetailsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RouteDetails" />
  <xs:import schemaLocation="http://localhost:61341/RouteDetailsService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetStreetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStreetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RouteDetails" minOccurs="0" name="GetStreetDataResult" nillable="true" type="q1:ArrayOfStreetDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteSafety">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="requestUri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRouteSafetyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetRouteSafetyResult" nillable="true" type="q2:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>